*.bam
*.bai
*.fasta
*.jar
SureSelect_regions.list
*.sample_summary
*.sample_interval_statistics
*.sample_interval_summary
*.sample_statistics
nohup.out
*.pdf
settings.conf
settings_xhost09.conf
settings_genesis.conf
qsub-logs
jobs.txt
