*.bam
*.bai
*.fasta
*.jar
*.pdf
*.dat
*.bed
__pycache__
nohup.out
settings.conf
jobs.txt
qsub-logs
.RData
.Rhistory
.ruffus_history.sqlite
titan-ref
refGene.txt
tmp
iterate-ABSOLUTE-ExomeCNV
metadata.tsv
titan_input.txt
